*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-container > div
{
    border: 2px solid rgb(65, 19, 192);
    background: rgb(79, 22, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.grid-container
{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    gap: 20px;
    grid-template-areas:
    "um um dois"
    "tres quatro dois"
    "cinco quatro seis";
}
.item-1
{
    grid-area: um;
}
.item-2
{
    grid-area: dois;
}
.item-3
{
    grid-area: tres;
}
.item-4
{
    grid-area: quatro;
}
.item-5
{
    grid-area: cinco;
}
.item-6
{
    grid-area: seis;
}
@media screen and (max-width: 768px) {
    body
    {
        height: 108vh;
    }
    .grid-container
    {
        grid-template-columns: 150px 150px;
        grid-template-rows: 150px 150px 150px 150px;
        grid-template-areas:
        "um dois"
        "tres dois"
        "tres quatro"
        "cinco seis";
    }
}